{% extends 'base.html.twig' %}
{% block title %}Create event{% endblock %}
{% block body %}
<div class="container mt-5 mb-5">
    <h1 class="mt-5 mb-5">Create event</h1>
   {{form_start(form)}}
   {{form_widget(form)}}
   {{form_end(form)}}
</div>
{% endblock %}